@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img {
    background-image: url('img/layered-waves-haikei.svg');
    background-attachment:fixed;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.rotate-3d {
    transform: perspective(800px) rotateX(45deg) rotateY(-5deg) rotateZ(30deg);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }

  .rotate-3d:hover {
    transform: perspective(800px) rotateX(0) rotateY(0);
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  .file-input {
    display: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.backdrop-blue {
  backdrop-filter: blur(10px);
}
.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px ;
}

.line-with-text::before,
.line-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  margin: 0 10px;
}


.scrollable-container {
  max-height: 80vh;
  overflow-y: auto;
}

.muted {
  background: rgba(34, 34, 34);
}

.muted-card {
  background: rgba(50, 80, 107);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Hide spin buttons */
  margin: 0; /* Remove margin */
}

input[type=number] {
  -moz-appearance: textfield; /* Hide spin buttons */
}
