@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img {
    background-image: url('img/layered-waves-haikei.svg');
    background-attachment:fixed;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.rotate-3d {
    transform: perspective(800px) rotateX(45deg) rotateY(-5deg) rotateZ(30deg);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }

  .rotate-3d:hover {
    transform: perspective(800px) rotateX(0) rotateY(0);
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  .file-input {
    display: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1; /* Make sure this is below the modal */
}

